.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: #124533;
  color: #fff;
  gap: 10px;
  margin: 0;
}

.footer h2 {
  align-self: center;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.footer span {
  font-weight: 400;
  text-align: start;
  font-size: 14px;
  list-style: none;
  color: #eee;
}

.footer li span:first-child {
  color: #ddd;
}
